@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Colors Exported Palette - https://coolors.co/000022-001242-0094c6-005e7c-040f16 */
:root {
  /* Default for light theme */
  --color-primary: #0094c6ff;
  --color-secondary: #005e7cff;
  --color-background: #ffffff;
  --color-text: #040f16ff;
  --color-text-secondary: #888;

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  /* Dark theme colors */
  --color-primary: #0094c6ff;
  --color-secondary: #008ab9;
  --color-background: #1a1a1a;
  --color-text: #f3f4f6;
}

html {
  height: 100%;
}

body {
  display: flex;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  transition: background-color 0.5s ease-in-out;

}


#root {
  height: 100%;
  width: 100%;
}